RewriteEngine On

# If the requested file exists as a directory, redirect to index.html
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.+)/$ /$1 [R=301,L]

# If the requested file exists as a file, serve it directly
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule . - [L]

# If the requested file doesn't exist, route through index.php
RewriteRule ^(.*)$ index.php [QSA,L]
